.App {
}

.next-button,
.back-button {
  width: 35%;
}

.button-container {
  display: flex;
  justify-content: space-around;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.error {
  border: 2px solid #ff6565;
}

.error-message {
  color: #ff6565;
  padding: 0.5em 0.2em;
  height: 1em;
  font-size: 0.8em;
}
